# Code Storage
code/
!code/.config/Code/User/keybindings.json
!code/.config/Code/User/settings.json

# xfce hardware settings
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml

# xfce private data
**/whiskermenu-1.rc
xfce/.config/xfce4/xfce4-screenshooter
xfce/.config/xfce4/desktop
xfce/.config/xfce4/helpers.rc
